/* Ballot Page */
.ballot {
    text-align: center;
    font-family: 'Avenir';
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


.button { 
    color: black;
    background-color: #FFA500;
    border-color: #FFA500;
}

.button:hover { 

    color: white;
    background-color: bla;
    border-color: #FFA500;
}

.styling {

    padding-top: 5%;
    padding-bottom: 2%;
}



  /* END Ballot Page */